{% if shop.customer_accounts_enabled and section.settings.header_user %}
    <ul class="account-links">
        <li>
            <a href="/account"><i class="fa fa-user" aria-hidden="true"></i>{{ 'layout.header.my_account' | t }}</a>
        </li>
    {% if customer %}
        <li>
            <a href="/account/logout">{{ 'layout.header.logout' | t }}</a>
        </li>
    {% endif %}
    </ul><!--/header_links-->
{% endif %}