<div class="cart">
    <a href="/cart" title="{{ 'layout.header.cart' | t }}: {{ cart.item_count }} {{ 'layout.header.cart_items' | t }}">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>{{ cart.item_count }}</span>
    </a>
</div><!--/header_cart-->