<figure class="logo">
    {% if template == 'index' %}<h1>{% endif %}
    {% if section.settings.logo_main.size > 0 %}
    <a class="header_logo" href="{{ shop.url }}">
        <img src="{{ section.settings.logo_main | img_url: 'x54' }}" alt="{{ shop.name }}">
    </a>
    {% else %}
    <a class="header_logo" href="{{ shop.url }}">{{ shop.name }}</a>
    {% endif %}
    {% if template == 'index' %}</h1>{% endif %}
</figure>