{% if section.settings.megamenu_toggle != blank %}
<nav class="navigation">
    <ul class="mobile-menu-icons">
        <li class="mobile-menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></li>
        <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <li><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="menu">
        {% for block in section.blocks %}
            {% assign menu = '' %}
            {% assign parent = '' %}
            {% if block.settings.links.size > 0 %}
                {% assign menu = block.settings.links %}
                {% assign parent = 'parent ' %}
            {% endif %}
            <li class="{{ parent }}{{ block.type }}">
                <a href="{{ block.settings.link }}">{{ block.settings.title }}</a>
                {% if block.settings.links.size > 0 %}
                <ul>
                        {% for link in linklists[menu].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="close-menu">
        <div class="close-icon"></div>
    </div>
</nav><!--/megamenu-->
{% endif %}