<div class="search-form">
    <form action="/search" method="get" role="search" class="search_form" id="header_search__form">
        <input type="search" name="q" placeholder="{{ 'layout.header.search' | t }}" aria-label="{{ 'layout.header.search' | t }}" id="header_search__input">
        <button type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div><!--/header_search-->