{% comment %}
	SEO Manager - 404 error catcher v2.0
	Copyright (c) venntov
	https://venntov.com / http://SEOManager.com
	Josh Highland

	NOTICE: All information contained herein is property of venntov.
	The intellectual and technical concepts contained herein are proprietary
	to venntov and are protected by trade secret and copyright law.
	Reproduction of this code is strictly forbidden unless prior written
	permission is obtained from venntov. If violated, legal action
	will be taken. Just don't do it.
{% endcomment %}

<!-- Start : SEO Manager 404 Catcher -->
<script type="text/javascript">
var f=document.createElement('script')
f.setAttribute("type","text/javascript")
f.setAttribute("src", "https://api.seomanager.com/linkCatcher?k=20126591&r=" + encodeURIComponent(document.referrer))
document.getElementsByTagName("head")[0].appendChild(f)
</script>
<!-- END : SEO Manager 404 Catcher -->
