<!doctype html>
<html lang="{{ shop.locale }}">
<head>
	<!-- SEO Manager Begin -->
	{% include 'SEOManager' %}
	<!-- SEO Manager End -->
	<meta charset="utf-8">
	<link rel="canonical" href="{{ canonical_url }}">
	{% include 'snippet-google-fonts' %}
	{{ 'fancybox.css' | asset_url | stylesheet_tag }}
	{{ 'responsive.scss.css' | asset_url | stylesheet_tag }}
	{{ 'style.scss.css' | asset_url | stylesheet_tag }}
	{{ 'custom.scss.css' | asset_url | stylesheet_tag }}
	{% if settings.favicon.size > 0 %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="google-site-verification" content="bvgm60sXETej6rWhar1CSlI_NBGVTy1JUVp_cXmttes" />
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	<script>
	var theme = {
		moneyFormat: {{ shop.money_format | json }},
	};
	</script>
	<!-- Yotpo Script Begin --->
	<script type="text/javascript">
		(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/P8ZIriasDhiNJpHl7ukQiocT3txYrv3usPmsMhFA/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	</script>
	<!-- Yotpo Script End -->
	{% include 'shogun-head' %}
	{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
	{%- assign time_now = 'now' | date: '%s' %}
	{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
	{%- assign diffSeconds = time_now | minus: yotpo_live_time %}
	{%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
		{{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
	{%- endif -%}
	<!-- Begin allow Googlebot on search page  --->
	{% if template contains 'search' %}
	<meta name="robots" content="index">
	{% endif %}
	<!-- end googlebot search page  --->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ 'assets.js' | asset_url }}"></script>
	<script src="{{ 'shop.js' | asset_url }}"></script>
	<script src="{{ 'wow.min.js' | asset_url }}"></script>
	<script src="{{ 'tick.min.js' | asset_url }}"></script>
	{% comment %}
		<script src="{{ 'swiper.min.js' | asset_url }}"></script>
	{% endcomment %}
	{{ 'custom-theme.js' | asset_url | script_tag }}
	<script type="text/javascript">
		(function(e,t,o,n,p,r,i){e.visitorGlobalObjectAlias=n;e[e.visitorGlobalObjectAlias]=e[e.visitorGlobalObjectAlias]||function(){(e[e.visitorGlobalObjectAlias].q=e[e.visitorGlobalObjectAlias].q||[]).push(arguments)};e[e.visitorGlobalObjectAlias].l=(new Date).getTime();r=t.createElement("script");r.src=o;r.async=true;i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)})(window,document,"https://diffuser-cdn.app-us1.com/diffuser/diffuser.js","vgo");
		vgo('setAccount', '475970897');
		vgo('setTrackByDefault', true);
		vgo('process');
	</script>
	{{ content_for_header }}
</head>
<body class="template-{{ template | split: '.' | first }}">
	<div class="page_wrapper">
		{% comment %}
		<div id="page_preloader__bg">
			<img id="page_preloader__img" src="{{ 'shopify_logo.gif' | asset_url }}" alt="">
		</div><!--/page_preloader__bg-->
		<script>
			preloaderBg = document.getElementById('page_preloader__bg');
			preloaderImg = document.getElementById('page_preloader__img');

			window.addEventListener('load', function() {
				preloaderBg.classList.add("off");
				preloaderImg.classList.add("off");
			});

			// window.addEventListener('beforeunload', function() {
			// 	preloaderBg.className -= " off";
			// 	preloaderImg.className -= " off";
			// });
		</script>
		{% endcomment %}
		{% section 'header' %}
		{% if template == 'index' %}
			{% section 'index-slideshow' %}
		{% endif %}
		<div class="page_container">
			{{ content_for_layout }}
			{% section 'footer' %}
		</div><!--/page_container-->
		<a id="back_top" href="#">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</a>
	</div><!--/page_wrapper-->

	{% if template == 'index' %}

	{% elsif template contains 'customers' %}
	<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
	<script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
	{% endif %}
	{% comment %}
	<noscript id="deferred_styles">
	{{ 'responsive.scss.css' | asset_url | stylesheet_tag }}
	{% include 'snippet-google-fonts' %}
	</noscript>

	<script>
	var loadDeferredStyles = function() {
		var addStylesNode = document.getElementById('deferred_styles');
		var replacement = document.createElement('div');
		replacement.innerHTML = addStylesNode.textContent;
		document.body.appendChild(replacement);
		addStylesNode.parentElement.removeChild(addStylesNode);

		// var loadTimer = setInterval(loadReady, 444);

		// function loadReady() {
			// 	if (window.jQuery) {
			// 		stylesLoaded();
			// 		window.clearInterval(loadTimer);
			// 	};
		// };
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
	else window.addEventListener('load', loadDeferredStyles);
	</script>
	{% endcomment %}
	{% comment %}
	{% include 'bold-script' %}
	{% endcomment %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
	<!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->
	{% capture the_snippet_content %}
		{% include 'carthook-checkout' %}
	{% endcapture %}
	{% unless the_snippet_content contains "Liquid error" %}
		{% include 'carthook-checkout' %}
	{% endunless %}
	<!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->
  
</body>

</html>