<style>
	.section_top_bar {
		background-color: {{ section.settings.bg_color }};
		color: {{ section.settings.text_color }};
	}
	.section_top_bar a {
		color: {{ section.settings.text_color }};
	}
</style>
<div class="section_top_bar">
  <a href="{{ section.settings.top_bar_url }}">{{ section.settings.top_bar_text }} </a>
</div>
<header class="page-header">
	<div class="page-header-container">
		<div class="header-store">
			{% include 'account-links' %}
			{% comment %}
			{% if section.settings.currency_selector %}
				{% include 'currency-selector' %}
			{% endif %}
			{% endcomment %}
			{% if section.settings.header_search %}
				{% include 'search-form' %}
			{% endif %}
			{% if section.settings.header_cart %}
				{% include 'cart' %}
			{% endif %}
		</div>
		<div class="header-main">
			{% include 'logo' %}
			{% include 'navigation' %}
		</div>
	</div>
</header>

{% schema %}
{
	"name": "Header",
	"max_blocks": 6,
	"settings": [
		{
			"type": "header",
			"content": "Top Bar Message"
		},
		{
			"type": "text",
			"id": "top_bar_text",
			"label": "Message"
		},
		{
			"type": "url",
			"id": "top_bar_url",
			"label": "Link"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background Color",
			"default": "#e5e5e5"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text Color",
			"default": "#333333"
		},
		{
			"type": "header",
			"content": "Main Logo"
		},
		{
			"type": "radio",
			"id": "logo_type",
			"label": "Logo type",
			"options": [
				{
					"value": "txt",
					"label": "Text logo"
				},
				{
					"value": "img",
					"label": "Image logo"
				}
			]
		},
		{
			"type": "image_picker",
			"id": "logo_main",
			"label": "Logo image",
			"info": "Will be scaled to 55px height"
		},
		{
			"type": "header",
			"content": "Currency selector"
		},
		{
			"type": "checkbox",
			"id": "currency_selector",
			"label": "Show currency selector"
		},
		{
			"type": "text",
			"id": "supported_currencies",
			"label": "Currencies you wish to support",
			"info": "Separate your currency codes with a space. Use the ISO 4217 3-letter currency code. [CLICK HERE](http:\/\/www.xe.com\/iso4217.php) for a complete list of currency codes. Example: CAD USD."
		},
		{
			"type": "header",
			"content": "Shopping cart"
		},
		{
			"type": "checkbox",
			"id": "header_cart",
			"label": "Show cart"
		},
		{
			"type": "header",
			"content": "Account links"
		},
		{
			"type": "checkbox",
			"id": "header_user",
			"label": "Account links",
			"info": "Customer Accounts must be enabled at \"Settings → Checkout\""
		},
		{
			"type": "header",
			"content": "Search form"
		},
		{
			"type": "checkbox",
			"id": "header_search",
			"label": "Show search form"
		},
		{
			"type": "header",
			"content": "Megamenu"
		},
		{
			"type": "checkbox",
			"id": "megamenu_toggle",
			"label": "Show megamenu"
		}
	],
	"blocks": [
		{
			"type": "link-simple",
			"name": "Simple link",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Item"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				}
			]
		},
		{
			"type": "link-linklist",
			"name": "Link + linklist",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Item"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "link_list",
					"id": "links",
					"label": "Choose linklist"
				}
			]
		},
		{
			"type": "link-4linklists",
			"name": "Link + 4 linklists",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Item"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "link_list",
					"id": "links_1",
					"label": "Linklist #1"
				},
				{
					"type": "link_list",
					"id": "links_2",
					"label": "Linklist #2"
				},
				{
					"type": "link_list",
					"id": "links_3",
					"label": "Linklist #3"
				},
				{
					"type": "link_list",
					"id": "links_4",
					"label": "Linklist #4"
				}
			]
		},
		{
			"type": "link-products",
			"name": "Link + products listing",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Item"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "collection",
					"id": "products",
					"label": "Choose collection"
				}
			]
		},
		{
			"type": "link-blog",
			"name": "Link + blog listing",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Item"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "blog",
					"id": "blog",
					"label": "Choose blog"
				}
			]
		}
	]
}
{% endschema %}