{% case section.blocks.size %}
	{% when 1 %}
		{%- assign block_class = 'col-xs-12' -%}
		{%- assign img_w = 2048 -%}

	{% when 2 %}
		{%- assign block_class = 'col-xs-6' -%}
		{%- assign img_w = 1024 -%}

	{% when 3 %}
		{%- assign block_class = 'col-xs-4' -%}
		{%- assign img_w = 682 -%}

	{% else %}
		{%- assign block_class = 'col-xs-3' -%}
		{%- assign img_w = 512 -%}

{% endcase %}

{% case section.settings.section_height %}
	{% when 'small'  %}{%- assign img_h = 256 -%}
	{% when 'medium' %}{%- assign img_h = 512 -%}
	{% when 'large'  %}{%- assign img_h = 682 -%}
{% endcase %}

{% capture img_size %}{{ img_w }}x{{ img_h }}{% endcapture %}

<div class="section section_homepage section_gallery section_gallery__{{ section.blocks | size }}">
	<div class="row">
		{% for block in section.blocks %}
			<div class="{{ block_class }}">
				<div class="gallery_item">
					{% if block.settings.item_img.size > 0 %}
						<div class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item_img | img_url: img_size, crop: block.settings.item_img_alignment }} );"></div>
					{% else %}
						<div class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}">
							{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
						</div>
					{% endif %}

					{% if block.settings.item_link.size > 0 or block.settings.item_text.size > 0 %}
						{% if block.settings.item_link.size > 0 %}
							<a class="item_caption" href="{{ block.settings.item_link }}">
						{% else %}
							<div class="item_caption">
						{% endif %}
							<div class="cnt_wrap">
							<h2>{{ block.settings.item_text_1 }}</h2>
							<h3>{{ block.settings.item_text_2 }}</h3>
							<h4>{{ block.settings.item_text_3 }}</h4>
							<span class="btn btn_inverted">{{ block.settings.item_text_4 }}</span>
							</div>

						{% if block.settings.item_link.size > 0 %}
							</a>
						{% else %}
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% schema %}
{
	"name": "Gallery",
	"class": "index-section",
	"max_blocks": 4,
	"settings": [
		{
			"type": "select",
			"id": "section_height",
			"label": "Section height",
			"options": [
				// {
				// 	"label": "Extra Small",
				// 	"value": "xsmall"
				// },
				{
					"label": "Small",
					"value": "small"
				},
				{
					"label": "Medium",
					"value": "medium"
				},
				{
					"label": "Large",
					"value": "large"
				}
				// {
				// 	"label": "Extra Large",
				// 	"value": "xlarge"
				// }
			]
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Image",
					"info": "For higher quality upload images wider than 2048 pixels"
				},
				{
					"type": "select",
					"id": "item_img_alignment",
					"label": "Image alignment",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "item_text_1",
					"label": "Text 1"
				},
				{
					"type": "text",
					"id": "item_text_2",
					"label": "Text 2"
				},
				{
					"type": "text",
					"id": "item_text_3",
					"label": "Text 3"
				},
				{
					"type": "text",
					"id": "item_text_4",
					"label": "Button text"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Gallery",
			"category": "Image",
			"blocks": [
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				}
			]
		}
	]
}
{% endschema %}