<div class="section section_homepage section_testimonials" data-section="{{ section.id }}">
	<div class="container"> 
		{% if section.settings.title.size > 0 %}
			<h2 class="section_heading split_words">{{ section.settings.title | escape }}</h2>
		{% endif %}

		{% if section.blocks.size < 4 %}
			<div class="row">
				{% for block in section.blocks %}
					<div class="col-sm-4">
						<blockquote class="testimonials_item">
							<i class="fa fa-quote-left testimonials_item__icon" aria-hidden="true"></i>

							{% if block.settings.quote.size > 0 %}
								<p class="testimonials_item__text">{{ block.settings.quote }}</p>
							{% endif %}

							{% if block.settings.author.size > 0 %}
								<cite class="testimonials_item__author">{{ block.settings.author | escape }}</cite>
							{% endif %}
						</blockquote>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="testimonials_slider swiper-container" id="testimonials_{{ section.id }}">
				<div class="swiper-wrapper">
					{% for block in section.blocks %}
						<div class="swiper-slide">
							<blockquote class="testimonials_item">
								<i class="fa fa-quote-left testimonials_item__icon" aria-hidden="true"></i>

								{% if block.settings.quote.size > 0 %}
									<p class="testimonials_item__text">{{ block.settings.quote }}</p>
								{% endif %}

								{% if block.settings.author.size > 0 %}
									<cite class="testimonials_item__author">{{ block.settings.author | escape }}</cite>
								{% endif %}
							</blockquote>
						</div>
					{% endfor %}
				</div>

				<div id="pagination_{{ section.id }}" class="swiper_pagination"></div>
			</div>
		{% endif %}
	</div>
</div>

{% schema %}
{
	"name": "Testimonials",
	"class": "index-section",
	"max_blocks": 9,
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Testimonials"
		}
	],
	"blocks": [
		{
			"type": "quote",
			"name": "Quote",
			"settings": [
				{
					"type": "textarea",
					"id": "quote",
					"label": "Quote Text",
					"default": "Add customer reviews and testimonials to showcase your store’s happy customers."
				},
				{
					"type": "text",
					"id": "author",
					"label": "Quote Author",
					"default": "Author's name"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Testimonials",
			"category": "Text",
			"blocks": [
				{
					"type": "quote"
				},
				{
					"type": "quote"
				},
				{
					"type": "quote"
				}
			]
		}
	]
}
{% endschema %}

{% javascript %}
jQuery(document).ready(function($) {
	$('.section_testimonials').each(function() {

		var sectionId = $(this).data('section');

		var testimonialSliderTag = '#testimonials_' + sectionId;
		var testimonialSliderPagination = '#pagination_' + sectionId;


		var testimonialsLoad = function() {

			if( $(testimonialSliderTag).length ) {

				var testimonialSlider = new Swiper(testimonialSliderTag, {
					slidesPerView: 3,
					breakpoints: {
						768: {
							slidesPerView: 2
						},
						480: {
							slidesPerView: 1
						}
					},
					spaceBetween: 30,
					pagination: testimonialSliderPagination,
					paginationClickable: true,
				});

			};

		};


		// LOADING SLIDERS
		testimonialsLoadTrigger = true;

		$(document).on('shopify:section:load', '#shopify-section-' + sectionId, function() {
			testimonialsLoad();
			testimonialsLoadTrigger = false;
		});

		if ( testimonialsLoadTrigger = true ) {
			testimonialsLoad();
		};

	});
});
{% endjavascript %}