{% case section.settings.img_size %}
	{% when 'xsmall' %}{%- assign img_size = '270x90' -%}
	{% when 'small'  %}{%- assign img_size = '270x151' -%}
	{% when 'medium' %}{%- assign img_size = '270x270' -%}
{% endcase %}

<div class="section section_homepage section_logo-list">
	<div {% if section.settings.background_image_toggle %}style="background: url( {{ section.settings.background_image | img_url: '2050x916', crop: 'top' }} );"{% endif %}>
		<div class="container">
			

			<div class="row">
				{% for block in section.blocks %}
				<div class="col-xs-2 {% cycle 'step6': 'item_6_1', '', '', '', '', '' %} {% cycle 'step2': 'item_2_1', '' %}">
					<div class="logo_item">
						{% if block.settings.link.size > 0 %}
						<a href="{{ block.settings.link }}" class="logo-bar__link">
							{% endif %}

							{% if block.settings.image.size > 0 %}
							<img src="{{ block.settings.image | img_url: img_size, crop: section.settings.img_alignment }}" alt="{{ section.settings.image.alt }}">
							{% else %}
							<div class="img_placeholder__wrap img_placeholder__{{ section.settings.img_size }}">
								{{ 'logo' | placeholder_svg_tag: 'img_placeholder' }}
							</div>
							{% endif %}

							{% if block.settings.link.size > 0 %}
						</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Logo list",
	"class": "index-section",
	"max_blocks": 12,
	"settings": [
		// BACKGROUND IMAGE /////////////////////////////////////////////////////////////////////////////
		{
			"type": "header",
			"content": "Background image"
		},
		{
			"type": "checkbox",
			"id": "background_image_toggle",
			"label": "Show background image",
			"default": false
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Image",
			"info": "The image should be more than 2050px wide to resize and crop properly"
		},

		
		{
			"type": "select",
			"id": "img_size",
			"label": "Image size",
			"options": [
				{
					"value": "xsmall",
					"label": "Extra Small (270x90)"
				},
				{
					"value": "small",
					"label": "Small (270x151)"
				},
				{
					"value": "medium",
					"label": "Medium (270x270)"
				}
			]
		},
		{
			"type": "select",
			"id": "img_alignment",
			"label": "Image alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		}
	],
	"blocks": [
		{
			"type": "logo_image",
			"name": "Logo",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link",
					"info": "Optional"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Logo list",
			"category": "Image",
			"blocks": [
				{
					"type": "logo_image"
				},
				{
					"type": "logo_image"
				},
				{
					"type": "logo_image"
				},
				{
					"type": "logo_image"
				}
			]
		}
	]
}
{% endschema %}
