<div class="category_list">
	{% for block in section.blocks %}
		<div class="category_block">
			<div class="category_item">
				{% if block.settings.link.size > 0 %}
					<a href="{{ block.settings.link }}" class="logo-bar__link">
				{% endif %}

				<span class="category_icon construction-icon-{{ block.settings.category_icon }}"></span>
					
				<h4 class="category_item_text">{{ block.settings.name }}</h4>

				{% if block.settings.link.size > 0 %}
					</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>

{% schema %}
{
	"name": "Category list",
	"class": "section section_homepage section_category-list",
	"max_blocks": 6,
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Category list"
		}
	],
	"blocks": [
		{
			"type": "category_list",
			"name": "Category",
			"settings": [
				{
					"type": "select",
					"id": "category_icon",
					"label": "Category icon",
					"options": [
						{
							"value": "01",
							"label": "Icon-01"
						},
						{
							"value": "02",
							"label": "Icon-02"
						},
						{
							"value": "03",
							"label": "Icon-03"
						},
						{
							"value": "04",
							"label": "Icon-04"
						},
						{
							"value": "05",
							"label": "Icon-05"
						},
						{
							"value": "06",
							"label": "Icon-06"
						},
						{
							"value": "07",
							"label": "Icon-07"
						},
						{
							"value": "08",
							"label": "Icon-08"
						},
						{
							"value": "09",
							"label": "Icon-09"
						},
						{
							"value": "10",
							"label": "Icon-10"
						},
						{
							"value": "11",
							"label": "Icon-11"
						},
						{
							"value": "12",
							"label": "Icon-12"
						},
						{
							"value": "13",
							"label": "Icon-13"
						},
						{
							"value": "14",
							"label": "Icon-14"
						},
						{
							"value": "15",
							"label": "Icon-15"
						},
						{
							"value": "16",
							"label": "Icon-16"
						},
						{
							"value": "17",
							"label": "Icon-17"
						},
						{
							"value": "18",
							"label": "Icon-18"
						},
						{
							"value": "19",
							"label": "Icon-19"
						},
						{
							"value": "20",
							"label": "Icon-20"
						}
					],
					"default": "01"
				},
				{
					"type": "text",
					"id": "name",
					"label": "Heading",
					"default": "Category tools"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link",
					"info": "Optional"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Category list",
			"category": "Collections",
			"blocks": [
				{
					"type": "category_list"
				},
				{
					"type": "category_list"
				},
				{
					"type": "category_list"
				},
				{
					"type": "category_list"
				},
				{
					"type": "category_list"
				},
				{
					"type": "category_list"
				}
			]
		}
	]
}
{% endschema %}
