{% case section.settings.img_size %}
	{% when 'small'  %}{%- assign img_size = '270x151' -%}
	{% when 'medium' %}{%- assign img_size = '270x270' -%}
	{% when 'large'  %}{%- assign img_size = '270x360' -%}
{% endcase %}

{%- assign img_alignment = section.settings.img_alignment -%}

<div class="section section_homepage section_collection-list">
	<div class="container">
		{% if section.settings.section_title.size > 0 %}
			<h2 class="section_heading split_words">{{ section.settings.section_title | escape }}</h2>
		{% endif %}

		<div class="row collection_listing__main">
			{% for block in section.blocks limit: section.blocks.size %}
				<div class="col-xs-3 {% cycle 'step4': 'item_4_1', '', '', '' %} {% cycle 'step2': 'item_2_1', '' %}">
					{%- assign collection = collections[block.settings.item_collection] -%}

					<div class="collection_item flexible_block flexible_block__{{ section.settings.text_position }} {% unless collection.empty? %}flexible_block__hover{% endunless %} flexible_block__{{ section.settings.section_image }}">
						{% if collection.empty? %}
							<div class="layer_1">
								<div class="img_placeholder__wrap img_placeholder__{{ section.settings.img_size }}">
									{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
									{{ 'collection-' | append: current | placeholder_svg_tag: 'img_placeholder' }}
								</div>
							</div>

							<div class="layer_2">
								<div>
									<span class="collection_title">{{ 'layout.collection_listing.collection' | t }}</span>
									<span class="collection_products">100 {{ 'layout.collection_listing.products' | t }}</span> TEST
								</div>
							</div>
						{% else %}
							{% include 'collection-listing-item' with img_size %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>

		{% if section.settings.show_view_all %}
			<div class="view_all__wrap">
				<a href="/collections/" class="btn">{{ 'layout.collection_listing.view_all' | t }}</a>
			</div>
		{% endif %}
	</div>
</div>

{% schema %}
{
	"name": "Collection list",
	"class": "index-section",
	"max_blocks": 12,
	"settings": [
		{
			"type": "text",
			"id": "section_title",
			"label": "Heading",
			"default": "Collections"
		},
		{
			"type": "select",
			"id": "img_size",
			"label": "Image size",
			"options": [
				{
					"value": "small",
					"label": "Small (270x151)"
				},
				{
					"value": "medium",
					"label": "Medium (270x270)"
				},
				{
					"value": "large",
					"label": "Large (270x360)"
				}
			]
		},
		{
			"type": "select",
			"id": "img_alignment",
			"label": "Image alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "select",
			"id": "text_position",
			"label": "Text position",
			"options": [
				{
					"value": "normal",
					"label": "Normal"
				},
				{
					"value": "overlay",
					"label": "Overlay"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": "Show 'View all' button"
		}
	],
	"blocks": [
		{
			"type": "featured_collection",
			"name": "Collection",
			"settings": [
				{
					"label": "Collection",
					"id": "item_collection",
					"type": "collection"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Collection list",
			"category": "Collections",
			"settings": {

			},
			"blocks": [
				{
					"type": "featured_collection"
				},
				{
					"type": "featured_collection"
				},
				{
					"type": "featured_collection"
				}
			]
		}
	]
}
{% endschema %}