{% case section.settings.img_size %}
	{% when 'small' %}{%- assign img_size = '370x208' -%}
	{% when 'medium' %}{%- assign img_size = '370x370' -%}
	{% when 'large' %}{%- assign img_size = '370x493' -%}
{% endcase %}

<div class="container">
	{% if section.settings.section_title.size > 0 %}
		<h2 class="section_heading">{{ section.settings.section_title | escape }}</h2>
	{% endif %}

	{%- assign section_blog = blogs[section.settings.section_blog] -%}

	{% unless section_blog.empty? %}
		<div class="row">
			{% for article in section_blog.articles limit: section.settings.section_blog_limit %}
				<div class="col-xs-4">
					<div class="article_item flexible_block flexible_block__{{ section.settings.text_position }} {% if section.settings.text_position == 'overlay' %}flexible_block__hover{% endif %}">
						<div class="layer_1">
							{% if article.image %}
								<div class="img_placeholder__wrap img_placeholder__{{ section.settings.img_size }}" style="background-image: url( {{ article.image.src | img_url: img_size, crop: section.settings.img_alignment }} );"></div>
							{% else %}
								<div class="img_placeholder__wrap img_placeholder__{{ section.settings.img_size }} img_placeholder__empty"></div>
							{% endif %}
						</div>

						<div class="layer_2">
							<div>
								<p class="article_info">
									<span><time class="article_time" datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M' }}">{{ article.published_at | date: '%A, %B %d, %Y' }}</time></span>
									{% if section.settings.blog_author %}<span>{{ article.author }}</span>{% endif %}
								</p>

								<p class="article_title"><a href="{{ article.url }}">{{ article.title | truncatewords: 11 }}</a></p>

								<p class="article_content">
									{{ article.content | strip_html | truncatewords: 20 }}						
								</p>

								<a class="btn article_btn {% if section.settings.text_position == 'overlay' %}btn_inverted{% endif %}" href="{{ article.url }}">{{ 'blog.articles.read_more' | t }}</a>
							</div>
						</div>
					</div>
				</div>

				{% cycle 'clear' : '', '' , '<div class="clearfix"></div>' %}
			{% endfor %}
		</div>
	{% endunless %}

	{% if section.settings.show_view_all %}
		<div class="view_all__wrap">
			<a href="{{ section_blog.url }}" class="btn">{{ 'blog.articles.view_all' | t }}</a>
		</div>
	{% endif %}
</div>

{% schema %}
{
	"name": "Blog articles",
	"class": "section section_homepage section_blog-articles",
	"settings": [
		{
			"type": "text",
			"id": "section_title",
			"label": "Heading",
			"default": "Blog"
		},
		{
			"type": "blog",
			"id": "section_blog",
			"label": "Blog"
		},
		{
			"type": "select",
			"id": "section_blog_limit",
			"label": "Show posts",
			"default": "3",
			"options": [
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "9",
					"label": "9"
				}
			]
		},
		{
			"type": "select",
			"id": "img_size",
			"label": "Images size",
			"options": [
				{
					"value": "small",
					"label": "Small (370x208)"
				},
				{
					"value": "medium",
					"label": "Medium (370x370)"
				},
				{
					"value": "large",
					"label": "Large (370x493)"
				}
			]
		},
		{
			"type": "select",
			"id": "img_alignment",
			"label": "Images alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "select",
			"id": "text_position",
			"label": "Text position",
			"options": [
				{
					"value": "normal",
					"label": "Normal"
				},
				{
					"value": "overlay",
					"label": "Overlay"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "blog_author",
			"label": "Show author"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": "Show 'View all' button"
		}
	],
	"presets": [
		{
			"name": "Blog articles",
			"category": "Blog",
			"settings": {
				"section_blog": "News",
				"section_blog_limit": "3"
			}
		}
	]
}
{% endschema %}