{% assign section_class = 'home-video-with-text' %}
{% assign section_class = section_class | append: ' content-align-' | append: section.settings.content_alignment %}
{% assign section_class = section_class | append: ' layout-' | append: section.settings.layout %}
{% assign section_class = section_class | append: ' overlay-style-' | append: section.settings.overlay_style %}

<section
  class="{{ section_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="home-video-with-text-overlay"
>
  <div class="container">
  	<div class="row">
      <div class="col-sm-6">
      		<!--div class="home-video-with-text-video">-->
    <div>
    
    {% if section.settings.video_url != blank %}
      {% if section.settings.video_url.type == "youtube" %}
        <iframe
          src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720"
          width="100%"
          height="315"
          frameborder="0"
          allowfullscreen
          sandbox="allow-scripts allow-same-origin allow-presentation"></iframe>
      {% endif %}
      {% if section.settings.video_url.type == "vimeo" %}
        <iframe
          src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?byline=0&portrait=0&badge=0&autopause=0"
          width="850"
          height="480"
          frameborder="0"
          allowfullscreen
          sandbox="allow-scripts allow-same-origin allow-presentation"></iframe>
      {% endif %}
    {% else %}
      <iframe
        src="https://www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720"
        width="850"
        height="480"
        frameborder="0"
        sandbox="allow-scripts allow-same-origin allow-presentation"></iframe>
    {% endif %}
  </div>
      </div>
      <div class="col-sm-6">
      	<iframe width="100%" height="315" src="https://www.youtube.com/embed/7VoFf4Am1YM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row" style="display:none;">
      <div class="col-sm-6">
      	<iframe width="100%" height="315" src="https://www.youtube.com/embed/mL57THR6BM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
      	<iframe width="100%" height="315" src="https://www.youtube.com/embed/Fcdd-oNypNc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    
  </div>
  

  {% assign image_url = false %}
  {% assign image_alt = '' %}
  {% if section.settings.image != blank %}
    {% assign image_url = section.settings.image | img_url: '1400x700' %}
    {% if section.settings.image.alt != blank %}
      {% assign image_alt = section.settings.image.alt | escape %}
    {% elsif section.settings.title != blank %}
      {% assign image_alt = section.settings.title | escape %}
    {% endif %}
  {% endif %}

  {% comment %}
    Always show overlay to block clicks on desktop, even if no image
  {% endcomment %}

</section>

{% schema %}
{
  "name": "Video with text overlay",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "content-width",
          "label": "Content width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "YouTube or Vimeo link",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Placeholder image",
      "info": "1400 x 700px recommended"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "Overlay style",
      "options": [
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "accent",
          "label": "Accent"
        }
      ],
      "default": "dark"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Align text",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Video with text overlay"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "default": "Enhance your page with with a video that relates to your style and story"
    }
  ],
  "presets": [
    {
      "category": "Video",
      "name": "Video with text overlay"
    }
  ]
}

{% endschema %}