<style>
#shopify-section-header, #shopify-section-footer{
  display:none;
}
.text-center{
  text-align:center;
}
.section_template_giftbox{
	background:url('https://cdn.shopify.com/s/files/1/2012/6591/files/header-bg.png?1994');
    background-repeat:no-repeat;
    min-height:300px;
}
.giftboxform{
	background:#000;
    min-height:300px;
}
.main-bg{
	background:url(https://cdn.shopify.com/s/files/1/2012/6591/files/main-bg.jpg?2055) repeat;
	position:relative;
}
.main-bg:after {
	content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: 0;
    /* border: 1px solid red;*/
    
}
.header-content{	
	text-align: center;
    margin-top: 25px;
}
.header-content img{
	width:70%;
	margin:0 auto;
}
.header-content h1{
	font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 13px 0 31px 0px;
}
.header-content h2{
	       font-size: 41px;
    text-transform: inherit;
    font-weight: bold;
    color: #fff;
    margin: 45px 0 219px 0px;
    font-family: Roboto;
}
blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin-bottom: 0rem !important;
}
.w {
    margin-bottom: 0px !important;
}
.op-form{
	background: #000000d1;
    text-align: center;
    margin: 59px 0 0 0;
    padding: 24px 0 0 0;
    position: relative;
    z-index: 10;
}
iframe{
	margin:0 auto !important;
}
.purse {
    min-height: 383px;
    background-size: contain;
    position: relative;
    margin-top: -186px;
    /* background: #fff; */
    /* padding: 104px; */
    background-position: 69px 0;
    position: relative;
    z-index: 2;
}
.tagline {
	    color: #fff;
    text-align: center;
    font-size: 34px;
    padding: 0%;
    line-height: normal;
    font-weight: 400;
    margin: 72px 0 0px 0;
    padding: 42px 50px 71px 50px;
    /* text-align: justify; */
    font-family: Roboto;
}
.overlap-purse{
	background: url(https://cdn.shopify.com/s/files/1/2012/6591/files/main-bg.jpg?2055) repeat;
    margin: -139px 0 0 0;
}
.black-logos {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
.black-logos img {
    width: 17%;
    margin: 26px 0 18px 0px;
}
.bottels-box {
    background: #df6637;
    margin-top: -63px;
}
.bottels-box:before{
    content: "";
    background: #fff;
    height: 145px;
    width: 100%;
    position: absolute;
  }
.bottels-box img{
	width:100%;
	margin-top:0px;
	margin-bottom:30px;
}
.features-box h3{
	color: #000;
    margin: 43px 0 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.features-box img{
	width:100%;
}
</style>
<style>
	/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .header-content {
    text-align: center;
    margin-top: 20px;
}
.header-content h1 {
    font-size: 36px;
   
}
.header-content h2 {
    font-size: 29px;
    
        margin: 19px 0 0px 0px;

}
.op-form {
   margin: 27px 0 0 0;
}
.purse {
    min-height: 231px;
    background-size: contain;
    position: relative;
    margin-top: 14px;
    /* background: #fff; */
    /* padding: 104px; */
    background-position: 69px 0;
    position: relative;
    z-index: 2;
}
.tagline {
   
    font-size: 28px;
	}
	.black-logos img {
    width: 50%;
    margin: 26px 0 68px 0px;
}
.features-box h3 {
    color: #000;
    margin: 20px 0 21px 0;
    text-align: center;
    font-weight: bold;
    font-size: 29px;
}
 
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.header-content {
    text-align: center;
    margin-top: 20px;
}
.header-content h1 {
    font-size: 36px;
   
}
.header-content h2 {
    font-size: 29px;
    
        margin: 19px 0 0px 0px;

}
.op-form {
   margin: 27px 0 0 0;
}
.purse {
    min-height: 231px;
    background-size: contain;
    position: relative;
    margin-top: 14px;
    /* background: #fff; */
    /* padding: 104px; */
    background-position: 69px 0;
    position: relative;
    z-index: 2;
}
.tagline {
   
    font-size: 28px;
	}
	.black-logos img {
    width: 50%;
    margin: 26px 0 68px 0px;
}
.features-box h3 {
    color: #000;
    margin: 20px 0 21px 0;
    text-align: center;
    font-weight: bold;
    font-size: 29px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
.header-content h1 {
    font-size: 60px;
	}
	.purse {
    min-height: 322px;
    background-size: contain;
    position: relative;
    margin-top: -175px;
    /* background: #fff; */
    /* padding: 104px; */
    background-position: 69px 0;
    position: relative;
    z-index: 2;
}
.purse img{
	width:50%;
}
.tagline {
    color: #fff;
    text-align: center;
    font-size: 27px;
    padding: 0%;
    line-height: normal;
    font-weight: bold;
    margin: 72px 0 0px 0;
    padding: 0 0 48px 0;
}
.black-logos img {
    width: 30%;
    margin: 26px 0 55px 0px;
}
.features-box h3 {
    color: #000;
    margin: 43px 0 27px 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
	
	
	</style>
<section class="main-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="header-content">
					<img src="https://cdn.shopify.com/s/files/1/2012/6591/files/logo-landing-new1.png?2344" alt="Myaderm"/>
					
					<h2>WE SEE<br>
Something awesome in your future</h2>
				</div>
			</div>
			<div class="col-sm-5">
			
				<div class="op-form">
					<script type='text/javascript' async='true' src='https://app.ontraport.com/js/ontraport/opt_assets/drivers/opf.js' data-opf-uid='p2c153801f20' data-opf-params='borderColor=#fff&borderSize=5px&embed=true&formHeight=600&formWidth=480px&popPosition=mc&instance=1751639376'></script>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="purse">
	
	<div class="container-fluid">
		<div class="row">
		<div class="col-sm-12">
		<img src="https://cdn.shopify.com/s/files/1/2012/6591/files/purse.png?2055" />
		</div>
		</div>
		
		</div>
</section>
<section class="overlap-purse">
	<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<p class="tagline">A free varity pak of transdermally delivered CBD formula that absorbs fast, acts in minutes and losts for hours, is up to 60 times stronger than the other brands, is non-greasy with a fresh sent for free. <br><br>All you have to do is fill out the form above!</p>
		</div>
		</div>
		
		</div>
</section>
<section class="black-logos">
<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<center><img src="https://cdn.shopify.com/s/files/1/2012/6591/files/bottel.png?2205"  /></center>
			
		</div>
		</div>
		
		</div>
</section>
<section class="bottels-box">
<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<center><img src="https://cdn.shopify.com/s/files/1/2012/6591/files/bottels.png?2055"  /></center>
		</div>
		</div>
		
		</div>
</section>
<section class="features-box">
<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<h3>Proudly Featured On:</h3>
			<center><img src="https://cdn.shopify.com/s/files/1/2012/6591/files/logos.png?2055"  /></center>
		</div>
		</div>
		
		</div>
</section>


{% schema %}
{
	"name": "Gift Box",
	"max_blocks": 8,
	"settings": [
		{
			"type": "header",
			"content": "page » Gift box"
		}
	],

	"blocks": [


		// TEXT BLOCK /////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "text-block",
			"name": "Text block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Catering to your requirements, handling your needs with care"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Our store is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>"
				}
			]
		},


		// ICONS BLOCK ////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "icons-block",
			"name": "Icons block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Store events"
				},

				// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "select",
					"id": "icon_1",
					"label": "Icon",
					"options": [
						{
							"value": "search",
							"label": "Looking glass"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "thumbs-o-up",
							"label": "Thumbs up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "envelope-o",
							"label": "Envelope"
						},
						{
							"value": "check",
							"label": "Check"
						},
						{
							"value": "gift",
							"label": "Gift"
						}
					],
					"default": "search"
				},
				{
					"type": "text",
					"id": "title_1",
					"label": "Title",
					"default": "For convenience of choice"
				},
				{
					"type": "richtext",
					"id": "text_1",
					"label": "Text",
					"default": "<p>We think about the convenience of your choice. Our products are supplied with star rating that should help hesitant buyers to take a decision. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.</p>"
				},

				// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "select",
					"id": "icon_2",
					"label": "Icon",
					"options": [
						{
							"value": "search",
							"label": "Looking glass"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "thumbs-o-up",
							"label": "Thumbs up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "check",
							"label": "Check"
						},
						{
							"value": "envelope-o",
							"label": "Envelope"
						},
						{
							"value": "gift",
							"label": "Gift"
						}
					],
					"default": "truck"
				},
				{
					"type": "text",
					"id": "title_2",
					"label": "Title",
					"default": "Delivery to all regions"
				},
				{
					"type": "richtext",
					"id": "text_2",
					"label": "Text",
					"default": "<p>We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>"
				},

				// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "select",
					"id": "icon_3",
					"label": "Icon",
					"options": [
						{
							"value": "search",
							"label": "Looking glass"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "thumbs-o-up",
							"label": "Thumbs up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "check",
							"label": "Check"
						},
						{
							"value": "envelope-o",
							"label": "Envelope"
						},
						{
							"value": "gift",
							"label": "Gift"
						}
					],
					"default": "thumbs-o-up"
				},
				{
					"type": "text",
					"id": "title_3",
					"label": "Title",
					"default": "The highest quality of products"
				},
				{
					"type": "richtext",
					"id": "text_3",
					"label": "Text",
					"default": "<p>We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>"
				}
			]
		},


		// PHOTOS BLOCK ///////////////////////////////////////////////////////////////////////////////////
		{
			"type": "photos-block",
			"name": "Photos block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Our team"
				},

				// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "image_picker",
					"id": "img_1",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_1",
					"label": "Title",
					"default": "Robert Johnson"
				},
				{
					"type": "richtext",
					"id": "text_1",
					"label": "Text",
					"default": "<p>Senior salesman with 15 years of experience. He knows everything about the products he offers.</p>"
				},

				// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "image_picker",
					"id": "img_2",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_2",
					"label": "Title",
					"default": "Jessica Priston"
				},
				{
					"type": "richtext",
					"id": "text_2",
					"label": "Text",
					"default": "<p>Mega positive shop assistant always ready to help you make the right choice and charm you with a smile.</p>"
				},

				// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "image_picker",
					"id": "img_3",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_3",
					"label": "Title",
					"default": "Sam Kromstain"
				},
				{
					"type": "richtext",
					"id": "text_3",
					"label": "Text",
					"default": "<p>Wholesale manager. Contact him if you want to buy a batch of the products offered at our store.</p>"
				},

				// ITEM 4 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 4"
				},
				{
					"type": "image_picker",
					"id": "img_4",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_4",
					"label": "Title",
					"default": "Edna Barton"
				},
				{
					"type": "richtext",
					"id": "text_4",
					"label": "Text",
					"default": "<p>Quality control manager. Her mission is to check the products we ship and settle quality issues if any.</p>"
				}
			]
		},


		// TESTIMONIALS BLOCK /////////////////////////////////////////////////////////////////////////////
		{
			"type": "testimonials-block",
			"name": "Testimonials block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Testimonials"
				},

				// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "text",
					"id": "name_1",
					"label": "Name",
					"default": "Mary Taba"
				},
				{
					"type": "textarea",
					"id": "text_1",
					"label": "Text",
					"default": "Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity."
				},

				// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "text",
					"id": "name_2",
					"label": "Name",
					"default": "Virginia Ubert"
				},
				{
					"type": "textarea",
					"id": "text_2",
					"label": "Text",
					"default": "Thank you again and again! I have experienced the fastest support ever. My order arrived on my door step the following day. Your team is always, friendly and very helpful. You managed to exceed my expectations!"
				},

				// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "text",
					"id": "name_3",
					"label": "Name"
				},
				{
					"type": "textarea",
					"id": "text_3",
					"label": "Text"
				}
			]
		}

	]

}
{% endschema %}