<style>
	#shopify-section-header, #shopify-section-footer{
  display:none;
  }
  .text-center{
  text-align:center;
  }
  
  .text-right{
  text-align:right; 
  }
  .body-bg{
			margin:0;
			padding:0;
			background:url(https://cdn.shopify.com/s/files/1/2012/6591/files/main-bg1.jpg?2084) no-repeat;
			min-height:800px;
			background-size:cover;
		}
   .pain-guy-wrapper{
  	    margin: -143px 0 0 0;
  }
</style>

<style>
		
		.gift-header-logo{
			
			    text-align: right;
    margin: 11px 0 0 0;
		}
		.gift-header-logo img {
    width: 51%;
}
		.gift-header-logo h1 {
    font-size: 74px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 0px 0 31px 0px;
    line-height: 62px;
}
		.pain-guy-box-bg {
    background: url(https://cdn.shopify.com/s/files/1/2012/6591/files/pain-guy.png?2097) no-repeat;
    min-height: 854px;
    background-size: contain;
    background-position: left top;
    position: absolute;
    width: 39%;
    z-index: 1000;
    top: 0px;
}
		.orange-box{
			background: #e06637c2;
			min-height: 300px;
              margin: 144px 0 0 0;
		}
		.orange-box ul{
			margin: 0 0 0;
			padding: 69px 16px 69px 201px;
		}
		.orange-box ul li{
			list-style-type: none;
			text-transform: capitalize;
			font-size: 36px;
			color: #fff;
			font-weight: bold;
			line-height: 43px;
			margin-bottom: 13px;
		}
		.black-box{
			background:#000;
			min-height: 478px;
          margin: 144px 0 0 0;
		}
		.orange-box-empty{
			    background: #e066377d;
				min-height: 104px;
				margin: -20px 0 0 0;
				position: relative;
				z-index: 2;
		}
		.spray-bottel{
			margin: -23px 0 0px 0;
			position: relative;
			z-index: 8;
		}
		.features-box h3{
	    color: #000;
    margin: 13px 0 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.features-box img{
	width:100%;
}
.features-box{
	background:#fff;
}
.pr-0{
padding-right:0 !important;
}
.pl-0{
	padding-left:0 !important;
}

	</style>
	
	<style>
	/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  .spray-bottel {
   
    width: 100%;
}
.gift-header-logo h1 {
    font-size: 30px;
	line-height: 42px;
}
.pain-guy-box-bg {
    
    min-height: 261px;
}
.orange-box ul {
    
    padding: 131px 16px 69px 29px;
}
.orange-box ul li {
   
    font-size: 22px;
    
    line-height: 28px;
    margin-bottom: 6px;
}
.orange-box ul {
    margin: 0 0 0;
    padding: 26px 16px 0px 116px;
}
.features-box h3 {
   
    margin: 13px 0 9px 0;
   
    font-size: 22px;
}
.orange-box-empty {
    
    min-height: 43px;
	}
	.orange-box {
 
    min-height: 231px;
      margin: 53px 0 0 0;
}
.pl-0 {
    padding-right: 0 !important;
}
    .pr-0 {
    padding-right: 0 !important;
}
    .pain-guy-wrapper {
    margin: -75px 0 0 0;
}
        .black-box {
  
    margin: 0px 0 0 0;
	clear: both;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  
  .spray-bottel {
   
    width: 100%;
}
.gift-header-logo h1 {
    font-size: 30px;
	line-height: 42px;
}
.pain-guy-box-bg {
    
    min-height: 261px;
}
.orange-box ul {
    
    padding: 131px 16px 69px 29px;
}
.orange-box ul li {
   
    font-size: 22px;
    
    line-height: 28px;
    margin-bottom: 6px;
}
.orange-box ul {
    margin: 0 0 0;
    padding: 26px 16px 0px 116px;
}
.features-box h3 {
   
    margin: 13px 0 9px 0;
   
    font-size: 22px;
}
.orange-box-empty {
    
    min-height: 43px;
	}
	.orange-box {
 
    min-height: 231px;
      margin: 66px 0 0 0;
}

    .black-box {
  
    margin: 0px 0 0 0;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
.gift-header-logo h1 {
    font-size: 56px; 
    line-height: 50px;
}
.pain-guy-box-bg {    
    min-height: 476px;
}
.orange-box ul li {
  
    font-size: 28px;
   
    line-height: 35px;
    margin-bottom: 13px;
}
.orange-box ul {
  
    padding: 69px 16px 125px 177px;
}
.spray-bottel {
    margin: -10px 0 0px 0;
    
    width: 64%;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .orange-box ul {
    padding: 69px 16px 61px 90px;
}
    .pain-guy-box-bg {
    min-height: 678px;
}
    .orange-box ul li {
    font-size: 37px;
    line-height: 51px;
    margin-bottom: 0px;
}

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
	
	
	</style>
<div class="body-bg">
<section class="gift-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="gift-header-logo">
					<img src="https://cdn.shopify.com/s/files/1/2012/6591/files/logo-landing-new1.png?2084" alt="" />
					<h1>CBD Cream</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pain-guy-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="pain-guy-box">
					<span class="pain-guy-box-bg"></span>
					<div class="row">
						<div class="col-xs-2 col-sm-1 col-md-2">
							
						</div>
						<div class="col-xs-12 col-sm-7 col-md-6 pr-0">
							<div class="orange-box">
								<ul>
									<li>Fast actiing long lasting</li>
									<li>More is better: XX% More CBD than others</li>
									<li>Put it where you need it</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 pl-0">
							<div class="black-box">
								<script type='text/javascript' async='true' src='https://app.ontraport.com/js/ontraport/opt_assets/drivers/opf.js' data-opf-uid='p2c153801f18' data-opf-params='borderColor=#fff&borderSize=0px&embed=true&formHeight=749&formWidth=400px&popPosition=mc&instance=n617426585'></script>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="text-right"><img src="https://cdn.shopify.com/s/files/1/2012/6591/files/spray.png?2084" alt="" class="spray-bottel" /></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="orange-box-empty"></div>
			</div>
			<div class="col-sm-12">
				<div class="footer"></div>
			</div>
		</div>
	</div>
	
</section>
<section class="features-box">
<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<h3>Proudly featured on:</h3>
			<center><img src="https://cdn.shopify.com/s/files/1/2012/6591/files/logos.png?2084"  /></center>
		</div>
		</div>
		
		</div>
</section>
</div>

{% schema %}
{
	"name": "Gift Box",
	"max_blocks": 8,
	"settings": [
		{
			"type": "header",
			"content": "page » Gift box"
		}
	],

	"blocks": [


		// TEXT BLOCK /////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "text-block",
			"name": "Text block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Catering to your requirements, handling your needs with care"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Our store is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>"
				}
			]
		},


		// ICONS BLOCK ////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "icons-block",
			"name": "Icons block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Store events"
				},

				// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "select",
					"id": "icon_1",
					"label": "Icon",
					"options": [
						{
							"value": "search",
							"label": "Looking glass"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "thumbs-o-up",
							"label": "Thumbs up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "envelope-o",
							"label": "Envelope"
						},
						{
							"value": "check",
							"label": "Check"
						},
						{
							"value": "gift",
							"label": "Gift"
						}
					],
					"default": "search"
				},
				{
					"type": "text",
					"id": "title_1",
					"label": "Title",
					"default": "For convenience of choice"
				},
				{
					"type": "richtext",
					"id": "text_1",
					"label": "Text",
					"default": "<p>We think about the convenience of your choice. Our products are supplied with star rating that should help hesitant buyers to take a decision. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.</p>"
				},

				// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "select",
					"id": "icon_2",
					"label": "Icon",
					"options": [
						{
							"value": "search",
							"label": "Looking glass"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "thumbs-o-up",
							"label": "Thumbs up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "check",
							"label": "Check"
						},
						{
							"value": "envelope-o",
							"label": "Envelope"
						},
						{
							"value": "gift",
							"label": "Gift"
						}
					],
					"default": "truck"
				},
				{
					"type": "text",
					"id": "title_2",
					"label": "Title",
					"default": "Delivery to all regions"
				},
				{
					"type": "richtext",
					"id": "text_2",
					"label": "Text",
					"default": "<p>We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>"
				},

				// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "select",
					"id": "icon_3",
					"label": "Icon",
					"options": [
						{
							"value": "search",
							"label": "Looking glass"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "thumbs-o-up",
							"label": "Thumbs up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "check",
							"label": "Check"
						},
						{
							"value": "envelope-o",
							"label": "Envelope"
						},
						{
							"value": "gift",
							"label": "Gift"
						}
					],
					"default": "thumbs-o-up"
				},
				{
					"type": "text",
					"id": "title_3",
					"label": "Title",
					"default": "The highest quality of products"
				},
				{
					"type": "richtext",
					"id": "text_3",
					"label": "Text",
					"default": "<p>We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>"
				}
			]
		},


		// PHOTOS BLOCK ///////////////////////////////////////////////////////////////////////////////////
		{
			"type": "photos-block",
			"name": "Photos block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Our team"
				},

				// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "image_picker",
					"id": "img_1",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_1",
					"label": "Title",
					"default": "Robert Johnson"
				},
				{
					"type": "richtext",
					"id": "text_1",
					"label": "Text",
					"default": "<p>Senior salesman with 15 years of experience. He knows everything about the products he offers.</p>"
				},

				// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "image_picker",
					"id": "img_2",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_2",
					"label": "Title",
					"default": "Jessica Priston"
				},
				{
					"type": "richtext",
					"id": "text_2",
					"label": "Text",
					"default": "<p>Mega positive shop assistant always ready to help you make the right choice and charm you with a smile.</p>"
				},

				// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "image_picker",
					"id": "img_3",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_3",
					"label": "Title",
					"default": "Sam Kromstain"
				},
				{
					"type": "richtext",
					"id": "text_3",
					"label": "Text",
					"default": "<p>Wholesale manager. Contact him if you want to buy a batch of the products offered at our store.</p>"
				},

				// ITEM 4 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 4"
				},
				{
					"type": "image_picker",
					"id": "img_4",
					"label": "Image",
					"info": "Will be resized to 270x270px"
				},
				{
					"type": "text",
					"id": "title_4",
					"label": "Title",
					"default": "Edna Barton"
				},
				{
					"type": "richtext",
					"id": "text_4",
					"label": "Text",
					"default": "<p>Quality control manager. Her mission is to check the products we ship and settle quality issues if any.</p>"
				}
			]
		},


		// TESTIMONIALS BLOCK /////////////////////////////////////////////////////////////////////////////
		{
			"type": "testimonials-block",
			"name": "Testimonials block",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Testimonials"
				},

				// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "text",
					"id": "name_1",
					"label": "Name",
					"default": "Mary Taba"
				},
				{
					"type": "textarea",
					"id": "text_1",
					"label": "Text",
					"default": "Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity."
				},

				// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "text",
					"id": "name_2",
					"label": "Name",
					"default": "Virginia Ubert"
				},
				{
					"type": "textarea",
					"id": "text_2",
					"label": "Text",
					"default": "Thank you again and again! I have experienced the fastest support ever. My order arrived on my door step the following day. Your team is always, friendly and very helpful. You managed to exceed my expectations!"
				},

				// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "text",
					"id": "name_3",
					"label": "Name"
				},
				{
					"type": "textarea",
					"id": "text_3",
					"label": "Text"
				}
			]
		}

	]

}
{% endschema %}