<style>
	#shopify-section-header, #shopify-section-footer{
		display:none;
	}
	.text-center{
		text-align:center;
	}  
	.text-right{
		text-align:right; 
	}
	.body-bg{
		margin:0;
		padding:0;
		background:url(https://cdn.shopify.com/s/files/1/2012/6591/files/orange-bg.png?v=1579202574) no-repeat;
		min-height:800px;
		background-size:cover;
	}

</style>

<style>
	.gift-header-logo{
		text-align: center;
		margin: 11px 0 31px 0;
	}
	.gift-header-logo img {
		width: 55%;
	}
	
	.black-box{
		background:#000;
		min-height: 478px;
		margin:0 0 0 0;
		z-index: 6;
		    position: relative;
	}
	.black-lines{
		background:url(https://cdn.shopify.com/s/files/1/2012/6591/files/black-line-bg.png?v=1579074350) repeat;
		min-height:300px;
	}
	.gift-bag-wrapper{
		
	}
	.gift-bag-wrapper h2{
		   color: #fff;
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 52px;
	}
	.golf-bag-box{
		position: relative;
		z-index: 4;
		min-height: 500px;
		margin: -334px 0 0 0;
	}
	.disclaimer-text{
		margin: 0;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    text-align: center;
    padding-bottom: 35px;
	}
  .disclaimer-text a{
		
		color: #fff;
		
	}
    .black-box .sign-up-heading{
          font-size: 49px;
      color: #fff;
      text-align: center;
      margin: 0 0 0 0;
      padding: 30px 0 19px 0;
      font-weight: bold;
    }
    .black-box .sign-up-text{
            font-size:20px;
        color: #fff;
        text-align: center;
        margin: 0 0 0 0;
        padding: 0px 0 19px 0;
        font-weight: bold;
      }
  .golf-bag-schedule p{
      padding: 20px 0 0 390px;
    color: #fff;
    font-size: 17px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .golf-bag-schedule h6{
  padding: 9px 0 0 390px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
  }
  .golf-bag-schedule{
      margin-bottom: 36px;
  }
	.pr-0{
		padding-right:0 !important;
	}
	.pl-0{
		padding-left:0 !important;
	}

</style>

<style>
	/* ----------- iPhone 4 and 4S ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {
	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {

	}

	/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 568px)
	and (-webkit-min-device-pixel-ratio: 2) {
	.gift-header-logo img {
		width: 75%;
	}
	.spray-bottel {
		width: 100%;
	}
	.gift-header-logo h1 {
		font-size: 30px;
		line-height: 42px;
	}
	.features-box h3 {
		margin: 26px 0 14px 0;
		font-size: 17px;
	}
	.pl-0 {
		padding-right: 0 !important;
	}
	.pr-0 {
		padding-right: 0 !important;
	}
	.black-box {
		margin: 0px 0 0 0;
		clear: both;
	}
      .gift-bag-wrapper h2 {
    color: #fff;
    margin: 40px 0 25px 0;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 47px;
}
            .golf-bag-box {
    position: relative;
    z-index: 4;
    min-height: 500px;
    margin: 0;
}
      .disclaimer-text {
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 24px;
        text-align:center;
}
      .disclaimer-text a{
      color:#fff;
      }
      .black-box .sign-up-heading {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 0 0 0 0;
    padding: 30px 0 19px 0;
    font-weight: bold;
}
      .golf-bag-schedule p {
    padding: 0;
    color: #fff;
    font-size: 17px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
      .golf-bag-schedule h6 {
    padding: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 568px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {
	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 568px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {

	}

	/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) {
	.gift-header-logo img {
		width: 75%;
	} 
	.spray-bottel {
		width: 100%;
	}
	.gift-header-logo h1 {
		font-size: 30px;
		line-height: 42px;
	}
	.features-box h3 {
		margin: 26px 0 14px 0;
		font-size: 17px;
	}
	.pl-0 {
		padding-right: 0 !important;
	}
	.pr-0 {
		padding-right: 0 !important;
	}
	.black-box {
		margin: 0px 0 0 0;
		clear: both;
	}
      .gift-bag-wrapper h2 {
    color: #fff;
    margin: 40px 0 25px 0;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 47px;
}
            .golf-bag-box {
    position: relative;
    z-index: 4;
    min-height: 500px;
    margin: 0;
}
      .disclaimer-text {
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 24px;
}
         .golf-bag-schedule p {
    padding: 0;
    color: #fff;
    font-size: 17px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
      .golf-bag-schedule h6 {
    padding: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) { 

	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) { 

	}

	/* ----------- iPhone 6+, 7+ and 8+ ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 414px) 
	and (max-device-width: 736px) 
	and (-webkit-min-device-pixel-ratio: 3) { 
.gift-bag-wrapper h2 {
    color: #fff;
    margin: 40px 0 25px 0;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 47px;
}
      .golf-bag-box {
    position: relative;
    z-index: 4;
    min-height: 500px;
    margin: 0;
}
      .disclaimer-text {
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 24px;
}
         .golf-bag-schedule p {
    padding: 0;
    color: #fff;
    font-size: 17px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
      .golf-bag-schedule h6 {
    padding: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 414px) 
	and (max-device-width: 736px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: portrait) { 

	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 414px) 
	and (max-device-width: 736px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: landscape) { 

	}

	/* ----------- iPhone X ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3) {

	.gift-header-logo img {
		width: 75%;
	}  
	.spray-bottel {
		width: 100%;
	}
	.gift-header-logo h1 {
		font-size: 30px;
		line-height: 42px;
	}
	.black-box {
		margin: 0px 0 0 0;
	}
	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: portrait) { 

	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: landscape) { 

	}


	/* ----------- iPad 1, 2, Mini and Air ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 1) {

	.gift-header-logo h1 {
		font-size: 56px; 
		line-height: 50px;
	}
	.spray-bottel {
		margin: -10px 0 0px 0;
		width: 64%;
	}
	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 1) {

	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 1) {

	}

	/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* Portrait */
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* Landscape */
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* ----------- iPad Pro 10.5" ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 834px) 
	and (max-device-width: 1112px)
	and (-webkit-min-device-pixel-ratio: 2) {



	}

	/* Portrait */
	/* Declare the same value for min- and max-width to avoid colliding with desktops */
	/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
	@media only screen 
	and (min-device-width: 834px) 
	and (max-device-width: 834px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* Landscape */
	/* Declare the same value for min- and max-width to avoid colliding with desktops */
	/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
	@media only screen 
	and (min-device-width: 1112px) 
	and (max-device-width: 1112px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* ----------- iPad Pro 12.9" ----------- */

	/* Portrait and Landscape */
	@media only screen 
	and (min-device-width: 1024px) 
	and (max-device-width: 1366px)
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* Portrait */
	/* Declare the same value for min- and max-width to avoid colliding with desktops */
	/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
	@media only screen 
	and (min-device-width: 1024px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* Landscape */
	/* Declare the same value for min- and max-width to avoid colliding with desktops */
	/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
	@media only screen 
	and (min-device-width: 1366px) 
	and (max-device-width: 1366px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}


</style>
<div class="body-bg">
	<section class="gift-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="gift-header-logo">
						<img src="https://cdn.shopify.com/s/files/1/2012/6591/files/logo-n-1.png?2241" alt="CBD Cream" /> 
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="black-lines">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="gift-bag-wrapper">
						<h2>ENTER TO WIN A MYADERM GOLF BAG OR MYADERM
 CBD CSPORT CREAM</h2>
					</div>
                  <div class="golf-bag-schedule">
                    <h6>Wednesday</h6>
                    <p>10am Product Raffle </p>
                    <p>2pm Product Raffle  </p>
                    <p>5pm Product Raffle   </p>
                    <h6>Thursday </h6>
                    <p>10am Product Raffle  </p>
                    <p>2pm Grand Prize - Golf Bag Raffle   </p>
                    <p>5pm Product Raffle </p>
                    <h6>Friday </h6>
                    <p>11am Product Raffle</p>
                  </div>
				</div>
				<div class="col-sm-5 pl-0">
					<div class="black-box">
                      <h2 class="sign-up-heading">SIGN UP HERE!</h2>
                      <p class="sign-up-text">We will aslo keep you informed of the latest infromation and deals from Myaderm.</p>
						<script type='text/javascript' async='true' src='https://app.ontraport.com/js/ontraport/opt_assets/drivers/opf.js' data-opf-uid='p2c153801f25' data-opf-params='borderColor=#fff&borderSize=0px&embed=true&formHeight=287&formWidth=100%&popPosition=mc&instance=2121560892'></script>
                      <p class="disclaimer-text"><a href="https://www.myaderm.com/policies/terms-of-service" target="_blank">Legal Disclaimer</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gift-header golf-bag-box">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="gift-image-wrapper">
						<img src="https://cdn.shopify.com/s/files/1/2012/6591/files/new-golf-bag-w-bot.png?v=1579199128" alt="Golf Bag" /> 
					</div>
				</div>
				<div class="col-sm-5">
                  
				</div>
			</div>
		</div>
	</section>

</div>
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/pxl/?adv=1vrmoar&ct=0:qcrqkb8&fmt=3"/>

{% schema %}
{
	"name": "Gift Box",
	"max_blocks": 8,
	"settings": [
	{
		"type": "header",
		"content": "page » Gift box"
	}
],

"blocks": [


// TEXT BLOCK /////////////////////////////////////////////////////////////////////////////////////
{
"type": "text-block",
"name": "Text block",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Catering to your requirements, handling your needs with care"
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Our store is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>"
}
]
},


// ICONS BLOCK ////////////////////////////////////////////////////////////////////////////////////
{
"type": "icons-block",
"name": "Icons block",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Store events"
},

// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 1"
},
{
"type": "select",
"id": "icon_1",
"label": "Icon",
"options": [
{
"value": "search",
"label": "Looking glass"
},
{
"value": "truck",
"label": "Truck"
},
{
"value": "thumbs-o-up",
"label": "Thumbs up"
},
{
"value": "trophy",
"label": "Trophy"
},
{
"value": "star",
"label": "Star"
},
{
"value": "envelope-o",
"label": "Envelope"
},
{
"value": "check",
"label": "Check"
},
{
"value": "gift",
"label": "Gift"
}
],
"default": "search"
},
{
"type": "text",
"id": "title_1",
"label": "Title",
"default": "For convenience of choice"
},
{
"type": "richtext",
"id": "text_1",
"label": "Text",
"default": "<p>We think about the convenience of your choice. Our products are supplied with star rating that should help hesitant buyers to take a decision. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.</p>"
},

// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 2"
},
{
"type": "select",
"id": "icon_2",
"label": "Icon",
"options": [
{
"value": "search",
"label": "Looking glass"
},
{
"value": "truck",
"label": "Truck"
},
{
"value": "thumbs-o-up",
"label": "Thumbs up"
},
{
"value": "trophy",
"label": "Trophy"
},
{
"value": "star",
"label": "Star"
},
{
"value": "check",
"label": "Check"
},
{
"value": "envelope-o",
"label": "Envelope"
},
{
"value": "gift",
"label": "Gift"
}
],
"default": "truck"
},
{
"type": "text",
"id": "title_2",
"label": "Title",
"default": "Delivery to all regions"
},
{
"type": "richtext",
"id": "text_2",
"label": "Text",
"default": "<p>We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>"
},

// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 3"
},
{
"type": "select",
"id": "icon_3",
"label": "Icon",
"options": [
{
"value": "search",
"label": "Looking glass"
},
{
"value": "truck",
"label": "Truck"
},
{
"value": "thumbs-o-up",
"label": "Thumbs up"
},
{
"value": "trophy",
"label": "Trophy"
},
{
"value": "star",
"label": "Star"
},
{
"value": "check",
"label": "Check"
},
{
"value": "envelope-o",
"label": "Envelope"
},
{
"value": "gift",
"label": "Gift"
}
],
"default": "thumbs-o-up"
},
{
"type": "text",
"id": "title_3",
"label": "Title",
"default": "The highest quality of products"
},
{
"type": "richtext",
"id": "text_3",
"label": "Text",
"default": "<p>We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>"
}
]
},


// PHOTOS BLOCK ///////////////////////////////////////////////////////////////////////////////////
{
"type": "photos-block",
"name": "Photos block",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Our team"
},

// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 1"
},
{
"type": "image_picker",
"id": "img_1",
"label": "Image",
"info": "Will be resized to 270x270px"
},
{
"type": "text",
"id": "title_1",
"label": "Title",
"default": "Robert Johnson"
},
{
"type": "richtext",
"id": "text_1",
"label": "Text",
"default": "<p>Senior salesman with 15 years of experience. He knows everything about the products he offers.</p>"
},

// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 2"
},
{
"type": "image_picker",
"id": "img_2",
"label": "Image",
"info": "Will be resized to 270x270px"
},
{
"type": "text",
"id": "title_2",
"label": "Title",
"default": "Jessica Priston"
},
{
"type": "richtext",
"id": "text_2",
"label": "Text",
"default": "<p>Mega positive shop assistant always ready to help you make the right choice and charm you with a smile.</p>"
},

// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 3"
},
{
"type": "image_picker",
"id": "img_3",
"label": "Image",
"info": "Will be resized to 270x270px"
},
{
"type": "text",
"id": "title_3",
"label": "Title",
"default": "Sam Kromstain"
},
{
"type": "richtext",
"id": "text_3",
"label": "Text",
"default": "<p>Wholesale manager. Contact him if you want to buy a batch of the products offered at our store.</p>"
},

// ITEM 4 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 4"
},
{
"type": "image_picker",
"id": "img_4",
"label": "Image",
"info": "Will be resized to 270x270px"
},
{
"type": "text",
"id": "title_4",
"label": "Title",
"default": "Edna Barton"
},
{
"type": "richtext",
"id": "text_4",
"label": "Text",
"default": "<p>Quality control manager. Her mission is to check the products we ship and settle quality issues if any.</p>"
}
]
},


// TESTIMONIALS BLOCK /////////////////////////////////////////////////////////////////////////////
{
"type": "testimonials-block",
"name": "Testimonials block",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Testimonials"
},

// ITEM 1 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 1"
},
{
"type": "text",
"id": "name_1",
"label": "Name",
"default": "Mary Taba"
},
{
"type": "textarea",
"id": "text_1",
"label": "Text",
"default": "Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity."
},

// ITEM 2 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 2"
},
{
"type": "text",
"id": "name_2",
"label": "Name",
"default": "Virginia Ubert"
},
{
"type": "textarea",
"id": "text_2",
"label": "Text",
"default": "Thank you again and again! I have experienced the fastest support ever. My order arrived on my door step the following day. Your team is always, friendly and very helpful. You managed to exceed my expectations!"
},

// ITEM 3 /////////////////////////////////////////////////////////////////////////////////
{
"type": "header",
"content": "Item 3"
},
{
"type": "text",
"id": "name_3",
"label": "Name"
},
{
"type": "textarea",
"id": "text_3",
"label": "Text"
}
]
}

]

}
{% endschema %}