<div class="template_404">
	<div class="container">
		<h1>{{ 'pages.404.title_1' | t }}</h1>
		<h2>{{ 'pages.404.title_2' | t }}</h2>
		<h3>{{ 'pages.404.title_3' | t }}</h3>

		<ul>
			<li><a href="/collections/">{{ 'pages.404.collections' | t }}</a></li>
			<li><a href="/collections/all">{{ 'pages.404.products' | t }}</a></li>
			<li><a href="/search">{{ 'pages.404.search' | t }}</a></li>
		</ul>
	</div>
</div>
{% include 'SEOManager-404' %}