<div class="template_contact">
  <div class="container">
    <h1 class="page_heading">{{ page.title }}</h1> {% if page.content.size > 0 %} <div class="rte"> {{ page.content }} </div> {% endif %}
    {% form 'contact', action: "https://vital-forms-api.ellipsis.cloud/api/form/vfob/e65e3258-4c9f-4488-b51a-9966c0137ec4$5d84f62b32541e00c78e11a4", data-vfib: "0", action: "https://vital-forms-api.ellipsis.cloud/api/form/vfob/e65e3258-4c9f-4488-b51a-9966c0137ec4$5d8d5c7eb2d50e2b07d9124f", data-vfib: "0" %}
    {% if form.posted_successfully? %} <p class="alert alert-success">{{ 'pages.contact_page_form.submit_success' | t }}</p> {% endif %} {{ form.errors | default_errors }}
    <div class="row">
      <div class="col-sm-3 form-group"> <label for="contact_form__name">{{ 'pages.contact_page_form.name' | t }}</label> <input required type="text" id="contact_form__name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"> </div>
      <div class="col-sm-3 form-group"> <label for="contact_form__email" class="{% if form.errors contains 'email' %}label--error{% endif %}">{{ 'pages.contact_page_form.email' | t }}</label> <input required type="email" id="contact_form__email" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"> </div>
      <div class="col-sm-3 form-group"> <label for="contact_form__phone">{{ 'pages.contact_page_form.phone' | t }}</label> <input type="tel" id="contact_form__phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"> </div>
    </div>
    <div class="form-group"> <label for="contact_form__message">{{ 'pages.contact_page_form.message' | t }}</label> <textarea required id="contact_form__message" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea> </div>
    <div class="form-group"> <button class="btn" type="submit">{{ 'pages.contact_page_form.submit' | t }}</button> </div> {% endform %}
  </div>
</div>