{% include 'shogun-products', content: page %}
<div class="template_page">
	<div class="container">
		<h1 class="page_heading">{{ page.title }}</h1>

		<div class="rte">
			{{ page.content }}
		</div>
	</div>
</div>
