<div class="template_page">
	<div class="container">
		<h1 class="page_heading">{{ page.title }}</h1>

		<div class="rte">
			{{ page.content }}
          <br/>
          <div develic-map="{{page.metafields.maps-by-develic.data | escape}}"></div>
		</div>
	</div>
</div>